<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<h3>
  <%= link_to "Edit this task", edit_task_path %>
</h3>
<h3>
  <%= link_to "Delete this task", task_path(@task), method: :delete %>
</h3>
<h3>
  <%= link_to "See all tasks", tasks_path %>
</h3>
